[Unit]
Description=my bot dvmn
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=1
ExecStartPre=/bin/sh -c "/usr/bin/docker rm -f docker_bot 2> /dev/null || /bin/true"
ExecStart=/usr/bin/docker run --rm -a STDIN -a STDOUT -a STDERR -p 80:80 -v /etc/my-project/:/etc/docker_bot --name docker_bot:2.2
ExecStop=/usr/bin/docker stop docker_bot


[Install]
WantedBy=multi-user.target